@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  overflow-x: hidden;
}
/*** Navbar ***/
.navbar-transparent {
  background: rgba(0, 0, 0, 0.4);
  color: #fff!important;
  transition: .5s ease-out;
  height: auto;

}
.navbar-black {
  background: #fff;
  color: #000!important;
  transition: .5s ease-out;
  height: auto;
}
.logo-container img {
  width: "4em"!important;
  height: "1em"!important;
}
.navLink{
  font-family: 'Poppins', sans-serif;
  padding: 2px 10px;
  font-weight: 900;
  text-decoration: none;
}
/**** Texts Fonts Sizes ****/
.main-text {
  font-size: 3.2rem;
  color:#fff;
  line-height: 1.3;
  margin-top: 150px;
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
}
.second-text {
  font-size: 2.5rem;
  color:#000;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}
.third-text {
  font-size: 1.7rem!important;
  font-family: 'Poppins', sans-serif!important;
  font-weight: 800!important;
  color:#000;
}
.comp-name {
  font-size: 4.5rem;
  color: #fff;
}
.paragraph {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
}
img {
  max-width: 100%;
  height: auto;
}
/*** Preloader ***/
.preloader-container {
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.5s ease-in-out;
}
.preloader img {
  width: 200px;
  height: 200px;
}
/*** Home Banner Styling ****/
.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("/src/assets/images/use.png");
  height: auto;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}
/*** Contact Banner ***/
.contact-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("/src/assets/images/contact.png");
  height: auto;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}
.about-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("/src/assets/images/banner-04.jpg");
  height: auto;
  filter: sepia(30%);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
.works-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("/src/assets/images/contact.png");
  height: auto;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}
.first-col {
  backdrop-filter: blur(2px);
}
.btn {
  font-family: 'Poppins', sans-serif!important;
  background: teal!important;
  font-weight: 500!important;
  padding: 10px 10px!important;
}
/*** Discover ***/
.discover {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url("/src/assets/images/img3.jpg");
  height: auto;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}
.discover-icon {
  border: 5px solid teal;
  border-radius: 50px;
  background: #fff;
  color: teal;
  padding: 10px 10px;
  font-size: 3rem!important;
}
/*** Flow ***/
.flow {
  background: linear-gradient( rgba(200, 240, 240, 0.769), rgba(200, 240, 240, 0.461));
 height: auto;
}
.about-container {
  border-top: 10px solid teal!important;
}
/*** Bill ***/
.bill {
 background: linear-gradient( rgba(200, 240, 240, 0.461),rgba(200, 240, 240, 0.461));
 height: auto;
}
.assurance {
  background: linear-gradient( rgba(200, 240, 240, 0.461),rgba(200, 240, 240, 0.461));
  height: auto;
}
.steps-container {
  background: linear-gradient( rgba(200, 240, 240, 0.461),rgba(200, 240, 240, 0.461)); 
  height: auto;
}
.support {
  border-top: 10px solid teal;
  width: 200px;
}
ul {
  list-style: none;
}
@media screen and (max-width: 768px) {
  body {
    height: 100vh;
    overflow-x: hidden;
  }
  .main-text {
    margin-top: 100px;
  }
  .main-text, .second-text, .third-text {
    font-size: 2rem;
  }
  .comp-name {
    font-size: 3rem;
  }
  .sec-column {
    display: none;
  }
  .bill {
    border-radius: 0;
    border: 0;
  }
}